{% extends 'layout.html' %}
{% block head %}
<title>average</title>
{% endblock %}
{% block body %}
<div>
{% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}
          <div class="notify" id = "x_button"> 
           <i class="fa-solid fa-xmark button"onclick="closebutton()"></i>
           <div id="info"> <p>{{ message }}</p> </div> 
          </div>
               
          {% endfor %}  
    {% endif %}  
 {% endwith %}
</div>
{% if average1  %}
<form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres" >
{% else %}
<form>
    {% endif %}
        <input list="uuid" name="uuid" placeholder="Select a uuid">
        <datalist id="uuid">
          <option value="cac1010b-fa6e-4641-9d95-ba82ec4e5d27">
            <option value="abcde">
        </datalist> 
      
<input type="number" name="a" min="1" max="24" step="1" placeholder="hrs" >
<button class="btn outline" id="textdecor2" type="submit">Calculate</button>
</form>
<div>
    <span id = avgres>
        {% include 'avg.html' %}
    </span>
   

</div>
   
{% if average2 %}
<form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres1">
{% else %}
<form action="/average" method="get">
    {% endif %}
    <input list="uuid" name="uuid" placeholder="Select a uuid">
        
    <input type="number" name="n" min="1" max="31" step="1" placeholder="days">
    <button class="btn outline "id="textdecor2"type="submit">Calculate</button>
   </form>
   <div>
    <span id = avgres1>
        {% include 'avn.html' %}
    </span>
</div>
    {% if average3 %}
    <form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres2">
    {% else %}
    <form action="/average" method="get">
        {% endif %}
        <input list="uuid" name="uuid" placeholder="Select a uuid">
            
        <input type="number" name="w" min="1" max="52" step="1" placeholder="wks">
        <button class="btn outline "id="textdecor2" type="submit">Calculate</button>
        </form>
        <span id = avgres2>
            {% include 'avw.html' %}
        </span>
        <script>
            info = document.getElementById("info")
            x_button = document.getElementById("x_button")
            function closebutton(){
                info.style.display = "none";
                x_button.style.display = "none";
            }
        </script>

{% endblock %}