{% extends 'layout.html' %}
{% block head %}
<title>average</title>
{% endblock %}
{% block body %}
<h3 class="i-name">Average</h3>
<div>
{% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}
          <div class="notify"id = "x_button"> 
           <i class="fa-solid fa-xmark button"onclick="closebutton()"></i>
           <div id="info"> <p>{{ message }}</p> </div> 
          </div>
               
          {% endfor %}  
    {% endif %}  
 {% endwith %}
</div>
{% if average1  %}
<form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres" >
{% else %}
<!-- Per Hour Button -->
<div class="perTime">
    <button id = "former1" class="btnAvg" >per hour</button>

<form action="/average" method="get" id="formElement1" class="calcAvg" style="display: none;">
    {% endif %}
        <input list="uuid" name="uuid" placeholder="Select a uuid" class="input1" required>
        <datalist id="uuid">
          <option value="cac1010b-fa6e-4641-9d95-ba82ec4e5d27">
            <option value="abcde">
        </datalist> 
      
<input type="number" name="a" min="1" max="24" step="1" placeholder="hrs" class="input2">
<button class="btn outline" id="btnCalc" type="submit">Calculate</button>
</form>
    <span id = avgres>
        {% include 'avg.html' %}
    </span>
   

</div>
   
{% if average2 %}
<form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres1">
{% else %}
<!-- Per Day Button -->
<div class="perTime">
    <button id="former2" class="btnAvg" >Per Day</button>

    <form action="/average" method="get" id="formElement2" class="calcAvg" style="display: none;">
    {% endif %}
    <input list="uuid" name="uuid" placeholder="Select a uuid" class="input1" required>
        
    <input type="number" name="n" min="1" max="31" step="1" placeholder="days"class="input2">
    <button class="btn outline "id="btnCalc"type="submit">Calculate</button>
   </form>

    <span id = avgres1>
        {% include 'avn.html' %}
    </span>
</div>
    {% if average3 %}
    <form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres2">
    {% else %}
<!-- Per Week Button -->
<div class="perTime">
        <button class="btnAvg" id="former3">Per Week</button>
    
    <form action="/average" method="get" id="formElement3"class="calcAvg" style="display: none;">
        {% endif %}
        <input list="uuid" name="uuid" placeholder="Select a uuid" class="input1" required>
            
        <input type="number" name="w" min="1" max="52" step="1" placeholder="wks"class="input2">
        <button class="btn outline "id="btnCalc" type="submit">Calculate</button>
        </form>
        <span id = avgres2>
            {% include 'avw.html' %}
        </span>
</div>
{% if average2 %}
<form action="/average" method="get" hx-get="/average" hx-swap="innerHTML" hx-target="#avgres4">
{% else %}
<!-- Per Day Button -->
<div class="perTime">
    <button id="former4" class="btnAvg" >Dates</button>

    <form action="/average" method="get" id="formElement4" class="calcAvg" style="display: none;">
    {% endif %}
    <input list="uuid" name="uuid" placeholder="Select a uuid" class="input1" required><br>
    start date    
    <input type="date" name="y" class="input2" required><br>
    end date
    <input type="date" name="z" class="input2" required><br>
    <button class="btn outline "id="btnCalc"type="submit">Calculate</button>
   </form>

    <span id = avgres4>
        {% include 'avf.html' %}
    </span>
</div>
        <script>
            info = document.getElementById("info");
            x_button = document.getElementById("x_button");
            function closebutton(){
                info.style.display = 'none';
                x_button.style.display = 'none';
            }
        </script>

        <script>
            var form1 = document.getElementById('formElement1');
            var first = true;
            var former1 = document.getElementById('former1');

            former1.onclick = function(){
            if(first){
                form1.style.display = "block";
                first = false;
            }
            else{
                form1.style.display = "none";
                first = true;
            }
           }
           var form2 = document.getElementById('formElement2');
            var first = true;
            var former2 = document.getElementById('former2');

            former2.onclick = function(){
            if(first){
                form2.style.display = "block";
                first = false;
            }
            else{
                form2.style.display = "none";
                first = true;
            }
           }
           var form3 = document.getElementById('formElement3');
            var first = true;
            var former3 = document.getElementById('former3');
            former3.onclick = function(){
            if(first){
                form3.style.display = "block";
                first = false;
            }
            else{
                form3.style.display = "none";
                first = true;
            }
           }
           var form4 = document.getElementById('formElement4');
            var first = true;
            var former4 = document.getElementById('former4');

            former4.onclick = function(){
            if(first){
                form4.style.display = "block";
                first = false;
            }
            else{
                form4.style.display = "none";
                first = true;
            }
           }
        </script>

{% endblock %}