{% extends 'layout.html' %}
{% block head %}

    <title>home</title>
  
{% endblock %}
{% block body %}

    <table class="table table-striped">
        <tr class="header1"> 
            <th scope="col"class="headerRow">Timestamp</th>
            <th scope="col"class="headerRow">UUID</th>
            <th scope="col"class="headerRow">Decibel</th>
        </tr>
       <tbody hx-get="/home" hx-trigger="every 2s">
        {% include 'table.html' %}
      
   </tbody>
   
    </table>

{% endblock %}
