<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Login</title>
    <script src="https://kit.fontawesome.com/ab599df3b2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css')}}"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@300&family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">
</head>
<!-- <div class = "login"> -->
<body>
    
      {% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}
          <div class="notify" id = "x_button"> 
           <i class="fa-solid fa-xmark button"onclick="closebutton()"></i>
           <div id="info"> <p>{{ message }}</p> </div> 
          </div>
               
          {% endfor %}  
    {% endif %}  
 {% endwith %}
 
    <div class="box"> 
     
        <div class="container">
             <div class="header">
                 <h1>HUSh!</h1>
                 <h5>Keep it Quiet</h5>
             </div>
            <form action="/login" method="post">
               <div class="li"> 
                   <i class="fa-solid fa-user"></i>
                   <label>Username</label>
                </div>
                    <input type="text" name="username" required>
                <div class="li">
                    <i class="fa-solid fa-lock"></i>
                    <label>Password</label>
                </div>
                    <input type="password" name="password" required>
                <input type="submit" value="SIGN IN">
            </form>
        
        </div>
    </div>

    <script>
        info = document.getElementById("info")
        x_button = document.getElementById("x_button")
        function closebutton(){
            info.style.display = "none";
            x_button.style.display = "none";
        }
    </script>

</body>
<!-- </div> -->
</html>
