{% extends 'layout.html' %}
{% block body %}
<h3 class="i-name">Search</h3>
<form method="GET" action="/search">
<div class="w-small w-2/3 mx-auto py-10 text-gray-600">

<input type="text"
name="search"
hx-get = "/search"
hx-trigger="keyup changed delay:500ms"
hx-target="#search_res"
hx-indicator=".htmx-indicator"
placeholder="Search by UUID or timestamp"
class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
>
<span class="htmx-indicator">Searching...</span>
<button type="submit" class="btn outline "id="textdecor2"><i class="far fa-search"></i></button>

</div> 
</form>



 <table class="table table-striped">
    <tr class="header1"> 
        <th scope="col" class="headerRow">UUID</th>
        <th scope="col" class="headerRow">Timestamp</th>
        <th scope="col" class="headerRow">Decibel</th>
    </tr>
   <tbody id="search_res">
   {% include 'searchres.html' %}
   </tbody>
 </table>

     {% endblock %}   
        
        
       


